DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_MINUTES=10080

RAZORPAY_KEY_ID=rzp_test_Sg817YYiuVlxnE
RAZORPAY_KEY_SECRET=HPptmjoGgdTG3Dqgo9Zz7g6B


